[data-theme="dark"] {
  background-color: #222 !important;
  color: #fff;
}
[data-theme='dark'].jumbotron{
  background-color: #303030;
}
[data-theme='dark'].list-group-item:not(.active){
  background-color: #303030;
  border:1px solid #444;
  border-bottom:1px solid rgba(0,0,0,0.125);
}
[data-theme="dark"] .card {
background-color: #303030;
border:1px solid rgba(0,0,0,0.125);
}
[data-theme="dark"] .card-header{
  background-color: #444;
  border-top:1px solid rgba(0,0,0,0.125);
}
[data-theme="dark"].card-footer{
  background-color: #444;
  border-top:1px solid rgba(0,0,0,0.125);
}



[data-theme="dark"].modal-content{
  background-color: #303030;
border:1px solid #444;
}
[data-theme="dark"].modal-header{
border-bottom:1px solid #444;
}
[data-theme="dark"].modal-footer{
border-bottom: 1px solid #444;
}
[data-theme="dark"].breadcrumb{
  background-color: #444;
}
[data-theme="dark"].breadcrumb a{
  color:#fff;
}

[data-theme="dark"].nav-tabs{
  border-bottom: 1px solid #444;
}
[data-theme="dark"] .nav-tabs a{
  color:#fff;
}

[data-theme="dark"].nav-tabs .nav-link:hover,[data-theme="dark"].nav-tabs .nav-link:focus{
border-color:#444 #444 transparent;
}

[data-theme="dark"].nav-tabs .nav-link.active,
[data-theme="dark"] .nav-tabs .nav-item.show .nav-link{
  color: #fff;
  background-color: #222;
  border-color:#444 #444 transparent;
}
[data-theme="dark"] .nav-pills .nav-link.active,
[data-theme="dark"] .nav-pills .show > .nav-link{
  color:#fff;
  background-color: #375a7f;
}
[data-theme="dark"] .dropdown-menu{
  color:#fff;
  background-color:#222;
  border:1px solid #444;
}
[data-theme="dark"] .dropdown-menu a:hover{
  color:#333;
}
[data-theme="dark"].dropdown-divider{
  border-top:1px solid #444;
}

[data-theme="dark"] .bg-black{
  background-color: #eee !important;
}





[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}